<app-header></app-header>
<div class="bg-img">
    <a routerLink="/login" style="text-decoration: none; color:antiquewhite">
<div class="sea">
    <div class="circle-wrapper">
        <div class="bubble"></div>
        <div class="submarine-wrapper">
            <div class="submarine-body">
                <div class="window"></div>
                <div class="engine"></div>
                <div class="light"></div>
            </div>
            <div class="helix"></div>
            <div class="hat">
              <div class="leds-wrapper">
                  <div class="periscope"></div>
                  <div class="leds"></div>
              </div>
            </div>
        </div>
    </div>
</div>
</a>
<!-- <div class="center"><h1><a routerLink="/login" style="text-decoration: none; color:rgb(57, 59, 52)">Welcome</a></h1></div> -->

<div class = "center"><button class="glow-on-hover" type="button"><a routerLink="/login" style="text-decoration: none; color:rgb(12, 145, 235)">WELCOME</a></button></div>



</div> 
