<div class="bg-img">

  <svg viewBox="0 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="60%">Clash of Clans</text>
      <text text-anchor="middle" x="52%" y="60%">Clash of Clans</text>
      
    </symbol>
  
    <g class = "g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
 
 <div class="center">
     <div class="game">
         <div class="game-thumb-container">
           
           <iframe width="750" height="400" src="https://www.youtube.com/embed/N0QqNGbpTK0">
 
           </iframe>

           
           
           
           
         </div>
         <div class="game-description">
             <p style="text-align: center;">
                The game is set in a fantasy-themed persistent world where the player is a chief of a village. Clash of Clans tasks players to build their own village using the resources gained from attacking other player's villages; earning rewards, buying them with medals or by producing them at their own village.<br>
                Mode(s): Single-player, multiplayer<br>
                Publisher(s): Supercell<br>
                Genre(s): Strategy<br>
                <br>
                </p>
                 
                 
                
                 
         <a href="https://play.google.com/store/apps/details?id=com.supercell.clashofclans" style="text-decoration: none;">Download here</a>
         
         <h2 style="color:rgb(201, 201, 178)">Review:</h2>
      
      <div [ngClass]="{'limitTextHeight': isReadMore}">
      <p style="color:rgb(222, 231, 231)">
        Clash of Clans was released way back in 2012 (man, it’s been a while) and is still going strong, mainly due to a constant influx of new players and content. Although the game mechanics have changed little over the years, the underlying publishing strategy still exemplifies the best (and worst) parts of mobile gaming.
        Once you install the game on your mobile device, you’re greeted with a mostly empty field and a few basic buildings to get you started. You get a basic town hall, army barracks, and resource-generating facilities. The game hand-holds you through the start of the game, which might be expected considering its primary demographic is on the slightly younger side than Lords Mobile.
        
        The game revolves around PvP combat, specifically Clan-against-Clan attacks. The underlying game mechanics all support these, and the game makes that quite clear from the start. You’re more or less relegated to gathering resources and building up your defenses and army for upcoming matches.
        </p>
      </div>
      <a type="button" (click)="showText()" style="color:aquamarine">
          {{ isReadMore ? 'Read More': 'Read Less' }}
      </a>



         <div>
          <p>Likes:{{numberOfLikes}}</p>
          <p>Dislikes:{{numberOfDislikes}}</p>
          <button (click)="likeButtonClick()">👍Like</button>
          <button (click)="dislikeButtonClick()">👎Dislike</button>
      </div>  
 
 
           
           <div class="game-platforms">
     
           </div>
         </div>
       </div>
 </div>
</div>
         
