@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100px;
  font-weight: 800;
}

body{
  background: bisque;
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 150px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


.limitTextHeight {
  height: 20px;
  overflow: hidden;
  color:#ACCFCB;
}



.bg-img {
  /* The image used */
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/911/438/large_2x/light-brown-texture-background-free-photo.jpg");

  /* Control the height of the image */
  height: 1100px;
  // width:1260px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // padding:1mm;
}
.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh;
  // padding: 0.2px
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
}





.center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
  }

  button{
    font-size: 1em;
    margin: 5px;
}

 p {color:rgb(243, 212, 156)}
 p {font-size: 14px}

.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }
  
  ::ng-deep {
    .mat-form-field-infix {
      background-color: #b53f3f;
    }
  
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }
  
    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2500px;
    margin: 30px auto;
  }


  .game {
  width: 750px;
  margin: 30px;
  height: 950px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

//   &:hover {
//     box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
//     transform: translateY(-3px);
//   }

  &-thumb-container {
    background-color: rgba(0, 0, 0, 0.315);
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 400px;
    width: 800px;
  }

  &-description {
    padding: 0.2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-genre {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-rating {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }


  .gamecolumn {
    float: left;
    width: 33.33%;
    padding: 5px;

  }

  .gamerow::after {
    content: "";
    clear: both;
    display: table;
    
  }
  a:link {
    color: rgb(117, 207, 230);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
  }


  
 


}
