<nav>
    <img src="https://image.shutterstock.com/image-vector/neon-game-controller-joystick-console-260nw-1950638641.jpg" alt="">

    <!-- <h1 style ="color:antiquewhite">welcome</h1> -->
<ul>
    
      <li> <a routerLink="/home" style="text-decoration: none; color:antiquewhite">Home</a></li>
      <!-- <li>   <a routerLink="/login" style="text-decoration: none; color:antiquewhite">Login</a></li>
        <li><a routerLink="/register" style="text-decoration: none; color:antiquewhite">Register</a></li>> -->
       <!-- <li> <a href="#">About</a><li> -->
    
</ul>

</nav>
