<div class="bg-img">
  <!-- <p style="font-size: 60px; font-style:inherit; color:rgb(97, 74, 94); margin-left: 25%" class="center">
    Subway Surfers
  </p> -->
  <section>
    <div class="content">
      <div class="centerrr">
    <h2>Subway Surfers</h2>
    <h2>Subway Surfers</h2>
    </div>
    </div>
    </section>

  
 
 <div class="center">
  


     <div class="game">
         <div class="game-thumb-container">
           
           <iframe width="750" height="400" src="https://www.youtube.com/embed/fGy-x3H-nxU">
 
           </iframe>

           
         
           
           
         </div>
         <div class="game-description">
             <p style="text-align: center;">
                Subway Surfers is a single player mobile gaming app and website developed by Kiloo. The aim of the game is to outrun a train inspector while dodging oncoming trains, barriers and other objects. Collecting coins on the way gives players advantages such as hover boards and high scores.<br>

                Gameplay modes: Single-player video game
                <br>

                Developer: Kiloo
                <br>
                </p>
                 
                 
                
                 
         <a href="https://play.google.com/store/apps/details?id=com.kiloo.subwaysurf" style="text-decoration: none;">Download here</a>
         
         <h2 style="color:rgb(201, 201, 178)">Review:</h2>
      
      <div [ngClass]="{'limitTextHeight': isReadMore}">
      <p style="color:rgb(222, 231, 231)">
        Subway Surfers is a lot of good fun. When you beat your old personal best score, you feel ecstatic. Getting better skill-wise means that your scores also get better. As a result, you always feel like you're progressing.They can boost attention, improve cognitive skills, and can keep you in shape as well. So if you are crazy about Subway Surfer and like to play it while commuting back home from work, during lunch break or before going to bed, it might actually be good for you.Subway Surfers is a safe game for kids to play, especially when in-app purchases are not allowed and you don't connect the game to Facebook.
        While Subway Surfers is a really fun game for killing boredom and competing with friends, it’s not perfect. The game has its fair share of flaws, some of which can make or break your experience. Yes, Subway Surfers is a load of fun, but for some people, it can also be quite repetitive. This is because you’re essentially doing the same thing over and over again. For many, incentives to play don’t really cut it unless they’re actually enjoying the gameplay.

        After you play Subway Surfers for a few hours, you’ll either be addicted or bored to death. And chances are, with the repetitive gameplay, you might be the latter. Subway Surfers doesn’t really throw much content to you in the early game, and the graphics are always the same. The fact that there isn’t much variation in gameplay can lead people to stop playing. There was a recent engine change recently. Reviews as of late speculate that the change resulted in their progress being lost. As a result, some uninstalled the game and stopped playing entirely. However, Kiloo is hard at work at retrieving save files, and this type of thing doesn’t often happen to players. 
        Subway Surfers also has some other glitches and bugs that are more minor than anything else. A few people reported dying when they didn’t hit any obstacles, and others reported obstacles not registering. Both of these bugs break gameplay but aren’t seen often.

        </p>
      </div>
      <a type="button" (click)="showText()" style="color:aquamarine">
          {{ isReadMore ? 'Read More': 'Read Less' }}
      </a>




         <div>
          <p>Likes:{{numberOfLikes}}</p>
          <p>Dislikes:{{numberOfDislikes}}</p>
          <button (click)="likeButtonClick()">👍Like</button>
          <button (click)="dislikeButtonClick()">👎Dislike</button>
      </div> 
 
 
           
           <div class="game-platforms">
     
           </div>
         </div>
       </div>
 </div>
</div>
