@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.centerrr {
  display: block;
  margin-left: 50%;
  margin-right: auto;
  // width: 50%;
}

body {
display: flex;
background: #000;
min-height: 100vh;
align-items: center;
justify-content: center;
height:100px;
}

.content {
position: relative;
height:25px;
padding:32px;
}

.content h2 {
color: #fff;
font-size: 5em;
position: absolute;
transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
color: transparent;
-webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
color: #03a9f4;
animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
0%,
100% {
clip-path: polygon(
0% 45%,
16% 44%,
33% 50%,
54% 60%,
70% 61%,
84% 59%,
100% 52%,
100% 100%,
0% 100%
);
}

50% {
clip-path: polygon(
0% 60%,
15% 65%,
34% 66%,
51% 62%,
67% 50%,
84% 45%,
100% 46%,
100% 100%,
0% 100%
);
}
}

.limitTextHeight {
  height: 20px;
  overflow: hidden;
  color:#ACCFCB;
}

.bg-img {
  /* The image used */
  background-image: url("https://media.istockphoto.com/photos/light-blue-watercolor-background-picture-id1301156172?b=1&k=20&m=1301156172&s=170667a&w=0&h=Ag7FeKGlohIwsKuJqTU180CL01lSGQieqEWv6mKK4n4=");

  /* Control the height of the image */
  height: 1100px;
  // width:1260px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh;
  // padding: 2px
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
}





.center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
  }

  button{
    font-size: 1em;
    margin: 5px;
}

 p {color:rgb(243, 212, 156)}
 p {font-size: 14px}

.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }
  
  ::ng-deep {
    .mat-form-field-infix {
      background-color: #b53f3f;
    }
  
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }
  
    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2500px;
    margin: 30px auto;
  }


  .game {
  width: 750px;
  margin: 30px;
  height: 950px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

//   &:hover {
//     box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
//     transform: translateY(-3px);
//   }

  &-thumb-container {
    background-color: rgba(0, 0, 0, 0.315);
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 400px;
    width: 800px;
  }

  &-description {
    padding: 0.2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-genre {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-rating {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }


  .gamecolumn {
    float: left;
    width: 33.33%;
    padding: 5px;

  }

  .gamerow::after {
    content: "";
    clear: both;
    display: table;
    
  }
  a:link {
    color: rgb(117, 207, 230);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
  }


  
 


}
