@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 100;
  margin: 0;
  // box-sizing: border-box;
}

.centerrr {
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 50%;
}

body {
  // background-color:  #f3c4a9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  // height:10px;

}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: rgb(54, 25, 5);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,10% {
    transform: translateY(0)
  }
  10% {
    transform: translateY(-20px)
  }
}

.limitTextHeight {
  height: 20px;
  overflow: hidden;
  color:#ACCFCB;
}



.bg-img {
  /* The image used */
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/911/438/large_2x/light-brown-texture-background-free-photo.jpg");

  /* Control the height of the image */
  height: 1100px;
  // width:1260px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding:25px;
}
.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh;
  // padding: 0.2px
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
}





.center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
  }

  button{
    font-size: 1em;
    margin: 5px;
}

 p {color:rgb(243, 212, 156)}
 p {font-size: 14px}

.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }
  
  ::ng-deep {
    .mat-form-field-infix {
      background-color: #b53f3f;
    }
  
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }
  
    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2500px;
    margin: 30px auto;
  }


  .game {
  width: 750px;
  margin: 30px;
  height: 950px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

//   &:hover {
//     box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
//     transform: translateY(-3px);
//   }

  &-thumb-container {
    background-color: rgba(0, 0, 0, 0.315);
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 400px;
    width: 800px;
  }

  &-description {
    padding: 0.2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-genre {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-rating {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }


  .gamecolumn {
    float: left;
    width: 33.33%;
    padding: 5px;

  }

  .gamerow::after {
    content: "";
    clear: both;
    display: table;
    
  }
  a:link {
    color: rgb(117, 207, 230);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
  }


  
 


}
