<div class="bg-img">
  <div class="centerrr">
    <div class="waviy">
      <span style="--i:1">G</span>
      <span style="--i:2">T</span>
      <span style="--i:3">A</span>
      <span style="--i:5">:</span>
      <span style="--i:6">v</span>
      <span style="--i:7">I</span>
      <span style="--i:1">C</span>
      <span style="--i:2">E C</span>
      <!-- <span style="--i:3"></span>
      <span style="--i:5">C</span> -->
      <span style="--i:6">I</span>
      <span style="--i:7">T</span>
      <span style="--i:7">Y</span>
      
   
     </div>

  </div>
  
 <div class="center">
     <div class="game">
         <div class="game-thumb-container">
           
           <iframe width="750" height="400" src="https://www.youtube.com/embed/rFGl5neEzK8">
 
           </iframe>

           
         
           
           
         </div>
         <div class="game-description">
             <p style="text-align: center;">
                Grand Theft Auto: Vice City is an action-adventure game played from a third-person perspective. The player controls criminal Tommy Vercetti and completes missions—linear scenarios with set objectives—to progress through the story.
                Series: Grand Theft Auto
                Publisher(s): Rockstar Games
                Developer(s): Rockstar North
                Mode(s): Single-player
                <br>
                </p>
                 
                 
                
                 
         <a href="https://play.google.com/store/apps/details?id=com.rockstargames.gtavc&hl=en_IN&gl=US" style="text-decoration: none;">Download here</a>
         
         <h2 style="color:rgb(201, 201, 178)">Review:</h2>
      
      <div [ngClass]="{'limitTextHeight': isReadMore}">
      <p style="color:rgb(222, 231, 231)">
        The new GTA game is set in a fictional take on Miami, Florida, known as Vice City. The year is 1986, and Tommy Vercetti has just been released from prison after doing a 15-year stretch for the mob. The mob--more specifically, the Forelli family--appreciates Tommy's refusal to squeal in exchange for a lesser sentence, so they send him down to Vice City to establish some new operations. Tommy's first order of business in Vice City is to score a large amount of cocaine to work with. But Tommy's first drug deal goes sour, leaving him with no money, no cocaine, and no idea who wronged him. The mob is, of course, angry over the whole situation, and now Tommy has to make up for the loss before the gangsters come down from Liberty City to clean up the mess. As Tommy, you'll start the investigation, figure out who ripped you off, take care of business, and set up shop in Vice City in a big, big way. Oh, and you'll also drive taxis, get involved in a turf war between the Cubans and the Haitians, befriend a Scottish rock group named Love Fist, become a pizza delivery boy, smash up the local mall, demolish a building to lower real estate prices, hook up with a biker gang, run an adult film studio, take down a bank, and much, much more.
        
        </p>
      </div>
      <a type="button" (click)="showText()" style="color:aquamarine">
          {{ isReadMore ? 'Read More': 'Read Less' }}
      </a>




         <div>
          <p>Likes:{{numberOfLikes}}</p>
          <p>Dislikes:{{numberOfDislikes}}</p>
          <button (click)="likeButtonClick()">👍Like</button>
          <button (click)="dislikeButtonClick()">👎Dislike</button>
      </div> 
 
 
           
           <div class="game-platforms">
     
           </div>
         </div>
       </div>
 </div>
</div>
