<div class="filters">
  <mat-form-field>
    <mat-label>Categories</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
    >
      <mat-option value="-Action">Action</mat-option>
      <mat-option value="-Board games">Board games</mat-option>
      <mat-option value="-Endless Runner">Endless Runner</mat-option>
      <mat-option value="-Platform Game">Platform Game</mat-option>
      <mat-option value="-Kids">Kids</mat-option>
      
    </mat-select>
  </mat-form-field>
</div>

<!-- games -->
<div class="games">  
  <!-- g1 -->
  <div class="game">
    <div class="game-thumb-container">
      <a routerLink="/game1" style="text-decoration: none;"><img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy_h9JCkio_awrL6o9OaRTbl4wiOcPz9X8P8e02XP7gmWvwnJ2aQcAQutrW0F41QFzcLY&usqp=CAU"
        alt="thumbnail"
        class="game-thumbnail"
      /></a>
      <!-- <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy_h9JCkio_awrL6o9OaRTbl4wiOcPz9X8P8e02XP7gmWvwnJ2aQcAQutrW0F41QFzcLY&usqp=CAU"
        alt="thumbnail"
        class="game-thumbnail"
      /> -->
    </div>
    <div class="game-description">
      <p class="game-name">
        <a routerLink="/game1" style="text-decoration: none; color:antiquewhite">BGM</a>
      </p>
      <p class="game-genre">Action</p>
      <p class="game-rating">4.2
        <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-star-icon-png-image_4143922.jpg" height = "15" width = "12">
      </p>
      <!-- <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-star-icon-png-image_4143922.jpg" height = "15" width = "15"> -->
      

      <div class="game-platforms">
        <img
          class="game-platform"
          src="https://th.bing.com/th/id/R.42e914ec69f14c033950263c15a37aa0?rik=53PSIWfLLSETbQ&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fxcg%2fKK4%2fxcgKK4qki.jpeg&ehk=jgRGPCurLOSdaNkNNGlaZayszreRtz1MZi1%2bn9lySAE%3d&risl=&pid=ImgRaw&r=0"
          alt="slug"
        />

      </div>
    </div>
  </div>

  <!-- g2 -->
  <div class="game">
    <div class="game-thumb-container">
      <a routerLink="/game2" style="text-decoration: none;"><img
        src="https://venturebeat.com/wp-content/uploads/2015/09/subwaysurfers.jpg?w=1200&strip=all"
        alt="thumbnail"
        class="game-thumbnail"
      /></a>
    </div>
    <div class="game-description">
      <p class="game-name">
        <a routerLink="/game2" style="text-decoration: none; color:antiquewhite">Subway Surfers</a>
      </p>
      <p class="game-genre">Action</p>
      <p class="game-rating">4.2</p>
      <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-star-icon-png-image_4143922.jpg" height = "15" width = "15">
      

      <div class="game-platforms">

      </div>
    </div>
  </div>

  <!-- g3-->
  <div class="game">
    <div class="game-thumb-container">
      <a routerLink="/game3" style="text-decoration: none; "><img
        src="https://cdn.pixabay.com/photo/2016/07/30/21/38/mario-1558068__340.jpg"
        alt="thumbnail"
        class="game-thumbnail"
      /></a>
      
    </div>
    <div class="game-description">
      <p class="game-name">
        <a routerLink="/game3" style="text-decoration: none; color:antiquewhite">Super Mario</a>
      </p>
      <p class="game-genre">Action</p>
      <p class="game-rating">4.2</p>
      <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-star-icon-png-image_4143922.jpg" height = "15" width = "15">
      
      
      <div class="game-platforms">

      </div>
    </div>
  </div>

  <!-- g4 -->
  <div class="game">
    <div class="game-thumb-container">
      <a routerLink="/game4" style="text-decoration: none; "><img
        src="https://ludoking.com/images/left.png"
        alt="thumbnail"
        class="game-thumbnail"
      /></a>
      
    </div>
    <div class="game-description">
      <p class="game-name"><a routerLink="/game4" style="text-decoration: none; color:antiquewhite">Ludo King</a></p>
      <p class="game-genre">Action</p>
      <p class="game-rating">4.2</p>
      <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-star-icon-png-image_4143922.jpg" height = "15" width = "15">
      

      <div class="game-platforms">

      </div>
    </div>
  </div>


  <!-- g5 -->
  <div class="game">
    <div class="game-thumb-container">
      <a routerLink="/game5" style="text-decoration: none; "><img
        src="https://w7.pngwing.com/pngs/157/914/png-transparent-clash-of-clans-game-strategy-toy-clash-of-clans-cartoon-gaming-clash-of-clans.png"
        alt="thumbnail"
        class="game-thumbnail"
      /></a>
      
    </div>
    <div class="game-description">
      <p class="game-name"><a routerLink="/game5" style="text-decoration: none; color:antiquewhite">Clash Of Clans</a></p>
      <p class="game-genre">Action</p>
      <p class="game-rating">4.2</p>
      <img src="https://w7.pngwing.com/pngs/157/914/png-transparent-clash-of-clans-game-strategy-toy-clash-of-clans-cartoon-gaming-clash-of-clans.png" height = "15" width = "15">
      

      <div class="game-platforms">

      </div>
    </div>
  </div>

  <!-- g6 -->
  <div class="game">
    <div class="game-thumb-container">
      <a routerLink="/game6" style="text-decoration: none; "><img
        src="https://www.insidesport.in/wp-content/uploads/2021/10/15851561807168_imgonline-com-ua-bigpicture.jpg"
        alt="thumbnail"
        class="game-thumbnail"
      /></a>
      
    </div>
    <div class="game-description">
      <p class="game-name"><a routerLink="/game6" style="text-decoration: none; color:antiquewhite">GTA VICE CITY</a></p>
      <p class="game-genre">Action</p>
      <p class="game-rating">4.2</p>
      <img src="https://www.insidesport.in/wp-content/uploads/2021/10/15851561807168_imgonline-com-ua-bigpicture.jpg" height = "15" width = "15">
      

      <div class="game-platforms">

      </div>
    </div>
  </div>
