.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #583f31;
  --color-2: #3D8DAE;
  --color-3: #683635;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #09e4ca;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh;
  // padding: 0.2px
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
}


.limitTextHeight {
  height: 20px;
  overflow: hidden;
  color:#ACCFCB;
}


.bg-img {
  /* The image used */
  background-image: url("https://res.cloudinary.com/fleetnation/image/private/c_fit,w_1120/g_south,l_text:style_gothic2:%C2%A9%20FreeProd,o_20,y_10/g_center,l_watermark4,o_25,y_50/v1516195465/upaxzb6wjlovt1zcjtif.jpg");

  /* Control the height of the image */
  height: 1100px;
  // width:1260px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh;
  // padding: 0.2px
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
}





.center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
  }

  button{
    font-size: 1em;
    margin: 5px;
}

 p {color:rgb(243, 212, 156)}
 p {font-size: 14px}

.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }
  
  ::ng-deep {
    .mat-form-field-infix {
      background-color: #b53f3f;
    }
  
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }
  
    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2500px;
    margin: 30px auto;
  }


  .game {
  width: 750px;
  margin: 30px;
  height: 950px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

//   &:hover {
//     box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
//     transform: translateY(-3px);
//   }

  &-thumb-container {
    background-color: rgba(0, 0, 0, 0.315);
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 400px;
    width: 800px;
  }

  &-description {
    padding: 0.2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-genre {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-rating {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }


  .gamecolumn {
    float: left;
    width: 33.33%;
    padding: 5px;

  }

  .gamerow::after {
    content: "";
    clear: both;
    display: table;
    
  }
  a:link {
    color: rgb(117, 207, 230);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
  }


  
 


}
