<div class="bg-img">

  <div class="container">
    <h2 class="title">
      <span class="title-word title-word-1">Ludo </span>
      <span class="title-word title-word-2">King </span>
      <!-- <span class="title-word title-word-3">India</span> -->
      <!-- <span class="title-word title-word-4">text</span> -->
    </h2>
  </div>
 
 <div class="center">
     <div class="game">
         <div class="game-thumb-container">
           
           <iframe width="750" height="400" src="https://www.youtube.com/embed/3piEH7oPT5I">
 
           </iframe>

           
           
           
           
         </div>
         <div class="game-description">
             <p style="text-align: center;">
                Ludo King is an Indian free-to-play mobile game application developed by Indian studio Gametion Technologies Pvt Ltd, based in Mumbai, India. Gametion is owned by Vikash Jaiswal. It is developed on the Unity game engine and is available on Android, iOS, Kindle, Windows Phone and Microsoft Windows platforms.<br>
                Genre(s): Board Game<br>
                Platform(s): iOS; macOS; Android; Windows 10<br>

                </p>
                 
                 
                
                 
         <a href="https://play.google.com/store/apps/details?id=com.ludo.king" style="text-decoration: none;">Download here</a>
         
         <h2 style="color:rgb(201, 201, 178)">Review:</h2>
      
         <div [ngClass]="{'limitTextHeight': isReadMore}">
         <p style="color:rgb(222, 231, 231)">
           Ludo King is the only game in which you can play with your family members or friends living in another city or state. Well. Undoubtedly, such a game increases bonding and strengthens the relationship. Ludo is a board game played by 4 people. Long back, Ludo was considered as an indoor game. But, with the takeover of technology, now you can play Ludo with anyone staying miles apart. You just need to download the application on your Android or iOS device. 

           When it comes to board games in the gaming application world, everyone has heard of Ludo King. Ludo King Game App was launched by Gametion Technologies Pvt. Ltd. As of now, Ludo Game App has 100M+ downloads which makes it one of the famous or popular Ludo Game App. The app has over 4M+ reviews wherein 80% of the reviews are positive.If you want to recall your childhood, download Ludo King, because Ludo King Game app is not only limited to Ludo, the app has Snake and Ladders too! Exciting right… no other app has two games in one application.
           </p>
         </div>
         <a type="button" (click)="showText()" style="color:aquamarine">
             {{ isReadMore ? 'Read More': 'Read Less' }}
         </a>



         <div>
          <p>Likes:{{numberOfLikes}}</p>
          <p>Dislikes:{{numberOfDislikes}}</p>
          <button (click)="likeButtonClick()">👍Like</button>
          <button (click)="dislikeButtonClick()">👎Dislike</button>
      </div> 
 
 
           
           <div class="game-platforms">
     
           </div>
         </div>
       </div>
 </div>
</div>
