<div class="bg-img">


  <section>
    <div class="content">
      <div class="centerrr">
    <h2>Super Mario</h2>
    <h2>Super Mario</h2>
    </div>
    </div>
    </section>
 
 <div class="center">
     <div class="game">
         <div class="game-thumb-container">
           
           <iframe width="750" height="400" src="https://www.youtube.com/embed/OwsCG6BqaEI">
 
           </iframe>

           
           
           
         </div>
         <div class="game-description">
             <p style="text-align: center;">
                Super Mario Bros. is a platform game. In the game, Mario must race through the Mushroom Kingdom and save Princess Toadstool (later Princess Peach) from Bowser. Mario jumps, runs, and walks across each level. The worlds are full of enemies and platforms, and open holes.<br>
                Release: NES; September 13, 1985; October 1<br>
                Platform(s): Famicom/NES, Famicom Disk Syst<br>
                Series: Super Mario series<br>
                Genre(s): Platform game<br>
                <br>
                </p>
                 
                 
                
                 
         <a href="https://play.google.com/store/apps/details?id=com.nintendo.zara" style="text-decoration: none;">Download here</a>
          
         <h2 style="color:rgb(201, 201, 178)">Review:</h2>
      
      <div [ngClass]="{'limitTextHeight': isReadMore}">
      <p style="color:rgb(222, 231, 231)">
        Plumber brothers Mario and Luigi from Brooklyn have just arrived in an outlandish realm called the Mushroom Kingdom. It was ruled by Princess Toadstool and her faithful Mushroom people. ... It's up to Mario and Luigi, two plumber brothers, to save the princess and defeat King Koopa and his minions the release of the NES (Nintendo Entertainment System) and “Super Mario Bros” changed the landscape of gaming because things became less about high scores and more about exploration and adventure. The title was so popular that it had the highest sales record for several decades Created by designer Shigeru Miyamoto, Luigi is portrayed as the younger fraternal twin brother of Nintendo's mascot Mario. Luigi appears in many games throughout the Mario franchise, often as a sidekick to his older twin brother The objective is to race through the Mushroom Kingdom, survive the main antagonist Bowser's forces, and save Princess Toadstool. The game is a side-scrolling platformer; the player moves from the left side of the screen to the right side in order to reach the flag pole at the end of each level Mario's Son is the child of Mario and King K, and an important background character in Section 3. Although he never appears on-screen and is never referred to by name, he is mentioned by several characters   While Super Mario World is a phenomenal game in just about every respect, there is one thing it is lacking, a challenge. Thanks to the save feature, the almost perfect control, Yoshi, and some other quality of life additions that were added to the game, Super Mario World is overall a rather easy game Sonic's games never outsold Mario's games. In fact, once the SNES came out the sales gap between Super Mario World and Sonic 3 or Sonic 2 was laughably huge. ... Sonic definitely was more popular than it was back then, but it never reached mario's During the events of the story, Bowser Jr. himself claims that his mother is Princess Peach, which she does not seem to have a rebuttal to. However, in the game's ending cutscene, Bowser tells his son that Peach is not his mother, which Jr. admits to having known all along Waluigi is not Luigi's son. Wario is the cousin of Mario and Luigi and if there is any argument to be made for Waluigi's relation to Mario and Luigi it's that they are cousins and he is the brother of Wario Fact 11: Rosalina is the only princess in the Mario series without a boyfriend. A fan theory says that Rosalina is paired up with Waluigi, or Mario and Rosalina being together and Mario fooling Peach Portrayed by	Harris Shore (Donkey Kong and Donkey Kong Jr. ColecoVision commercials) Lou Albano (The Super Mario Bros. Super Show!) John Lenahan (The Super Mario Challenge) Bob Hoskins (Super Mario Bros.)
        </p>
      </div>
      <a type="button" (click)="showText()" style="color:aquamarine">
          {{ isReadMore ? 'Read More': 'Read Less' }}
      </a>




         <div>
          <p>Likes:{{numberOfLikes}}</p>
          <p>Dislikes:{{numberOfDislikes}}</p>
          <button (click)="likeButtonClick()">👍Like</button>
          <button (click)="dislikeButtonClick()">👎Dislike</button>
      </div> 
 
 
           
           <div class="game-platforms">
     
           </div>
         </div>
       </div>
 </div>
</div>
