<!-- <app-search></app-search> -->


<!-- <app-game3></app-game3> -->
<!-- <app-game4></app-game4> -->
<!-- <app-game5></app-game5> -->
<!-- <app-game12></app-game12> -->
<!-- <app-welcome></app-welcome> -->


<!-- <app-like></app-like> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet> 
<!-- <app-register></app-register> -->
<!-- <app-popup></app-popup> -->

<!-- <app-logout></app-logout> -->
