.bg-img {
    /* The image used */
    background-image: url("https://media.istockphoto.com/vectors/neon-abstract-futuristic-background-neon-portal-with-reflection-in-vector-id1064880996?k=20&m=1064880996&s=612x612&w=0&h=W4UVqrzibrs-gwJfagDHyt4qsn0xhs8laNtmacut500=");
  
    /* Control the height of the image */
    height: 600px;
    // width:1260px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 
 .man {width: 225px; height: 400px;
    background-image: url(https://estelle.github.io/10/files/sprite.png);
    animation: gangham 4s steps(23,start) infinite,
      movearound 12s steps(69,end) infinite alternate 44ms;
    animation-direction: normal, alternate;
  }

  .centerrr {
    display: block;
    margin-left: 45%;
    margin-right: auto;
    width: 50%;
  }


  .center {
    display: block;
    margin-left: 38%;
    margin-right: auto;
    width: 50%;
  }
  @keyframes gangham {
    0% {background-position: 0 0}
    100% {background-position: -5175px 0}
  }
  @keyframes movearound {
    0% {transform: translatex(0)}
    100% {transform: translatex(1100px);}
  }
