<div class="bg-img">
<div class="man"></div>
<div class="center"  > <h1 style="color:white">Thank You for Visiting❤️(●'◡'●)</h1>
 </div>
 <div class="centerrr">
    <h1><a routerLink="/welcome" style="text-decoration: none; color:rgb(177, 211, 124)">Visit Again</a></h1>
 </div>
</div>
