<div class="bg-img">
 <div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Battleground </span>
    <span class="title-word title-word-2">Mobile </span>
    <span class="title-word title-word-3">India</span>
    <!-- <span class="title-word title-word-4">text</span> -->
  </h2>
</div>
 <!-- <p style="font-size: 53px; font-style:inherit; color:rgb(97, 74, 94); margin-left: 25%" class="center">
   Battleground Mobile India
 </p>   -->

<div class="center">
  
    <div class="game">
        <div class="game-thumb-container">
          
          <iframe width="750" height="400" src="https://www.youtube.com/embed/D5ROWx_jItg">

          </iframe>
        
         
          
        </div>
        <div class="game-description">
            <p style="text-align: center;">
                
                Battlegrounds Mobile India is a player versus player shooter game in which up to one hundred players fight in a battle royale, a type of large-scale last man standing deathmatch where players fight to remain the last alive. Players can choose to enter the match solo, or as a small team of upto four.<br>
                <br>
                Series: PUBG Universe<br>
                Release: 2 July 2021 (Android); 18 August 2021 ...<br>
                Genre(s): Battle royale<br>
               
                </p> 
                
        <a href="https://play.google.com/store/apps/details?id=com.pubg.imobile" style="text-decoration: none;" ><h2>Download here</h2></a>    

        <h2 style="color:rgb(201, 201, 178)">Review:</h2>
      
      <div [ngClass]="{'limitTextHeight': isReadMore}">
      <p style="color:rgb(222, 231, 231)">
        Land on strategic locations, loot weapons and supplies, and survive to become the last team standing across various, diverse Battlegrounds.
        Squad up and join the Battlegrounds for the original Battle Royale experience that only PUBG: BATTLEGROUNDS can offer.

        This content download will also provide access to the BATTLEGROUNDS Test Server, which requires a separate download to play. 
        </p>
      </div>
      <a type="button" (click)="showText()" style="color:aquamarine">
          {{ isReadMore ? 'Read More': 'Read Less' }}
      </a>








        <div>
          <p>Likes:{{numberOfLikes}}</p>
          <p>Dislikes:{{numberOfDislikes}}</p>
          <button (click)="likeButtonClick()">👍Like</button>
          <button (click)="dislikeButtonClick()">👎Dislike</button>
      </div>


          
          <div class="game-platforms">
    
          </div>
        </div>
      </div>
</div>

</div>
